<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand" href="/">THINKJAR</a>
        </div>
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if user}}
                <li><a href="/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {{/if}}

            {{#unless user}}
                <li><a href="/Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/unless}}
        </ul>
    </div>
</nav>
