html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    background-image: url("jar_transparent.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.navbar{
  font-family: 'Questrial', sans-serif;
/*  background-color: #FF4040;
*/
}

#articlesDiv {
    height: 10%;
}

#articleCol {
    overflow-y: scroll;
    height: 100vh;
}

.article {
    border-top: solid 1px #ffffff;
    z-index: 0;
    font-color:;
}


.article p {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    top: 25px;

}

.article a {
    font-size: 14px;
    z-index: 10;
}


/*COMMENTS*************************************************************/


/**********************************************************************/


/*Add separate scrollbar for comments window*/

#commentCol {
/*    overflow-y: auto;
*/    height: 100%;
    font-family: 'Questrial', sans-serif;
}
/**/
.row1{
/*    background-color: #0abab5;
*/}
.row2{
        background-color: #ffdc73;

}
#commentCol h2 {
  margin-top: 0;
}

#commentCol a {
  color: #ff4040;
}

.comment {
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
}

#commentSubmit {
    margin-top: 15px;
/*    background-color: #444d5b;
*/}
#commentJar {
/*    background-image: url('./clearmasonjar.jpeg');
*/}


/***********************************************************************/


/*Highlight article when selected*/

.selected {
    background-color: #ffdc73;
}

.article {
    margin: 10px 0 10px 0;
}

.float-left {
    float: left;
}


/*Scrollbars*/

#articleCol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#articleCol::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#articleCol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #444d5b;
}

#commentCol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#commentCol::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#commentCol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #444d5b;
}
